{% extends 'base.html.twig' %}

{% block title %}
	SnowTricks |
	{{ trick.name }}
{% endblock %}

{% block banner %}
	{% set bannerImage = trick.images.first() ? '/assets/img/tricks/' ~ trick.images.first().name : '/assets/img/snowtricks_banner.jpg' %}

	<style>
		.banner {
			background-image: url({{ bannerImage }});
		}
	</style>

	<div class="banner">
		<div class="container h-100">
			<div class="row align-items-center justify-content-center h-100">
				<div class="col-md-10 text-center">
					<h1 class="display-5 fw-bolder text-white">{{ trick.name }}</h1>
				</div>
			</div>
		</div>
		{% if app.user is same as trick.user %}
			<div class="icons">
				<a class="icon" href="{{ path('app_trick_edit', { 'slug': trick.slug }) }}">
					<img src="/assets/img/icons/edit.svg" alt="edit">
				</a>
				<a class="icon" href="">
					<img src="/assets/img/icons/delete.svg" alt="delete">
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block body %}
	<div class="row row-img-vid justify-content-center">
		{% if trick.images %}
			{% for index, image in trick.images %}
				{% if index is not same as 0 %}
					<div class="wrapper d-flex align-items-center m-3" style="width: 18rem; height: 162px;">
						<img src="/assets/img/tricks/{{ image.name }}" alt="{{ trick.name }}">
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if trick.videos %}
			{% for video in trick.videos %}
				<div class="wrapper d-flex align-items-center m-3" style="width: 18rem; height: 162px;">
					<iframe src="https://www.youtube.com/embed/{{ video.name }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<div class="row justify-content-center mt-5">
		<div class="col-md-10">
			<p>
				{{ trick.description }}
			</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-8 d-flex justify-content-center col-gap border-bottom py-4">
			<div class="card-info">
				Créé le
				{{ trick.getCreatedAt().format('d/m/Y') }}
			</div>
			{% if trick.getCreatedAt().format('d/m/Y') != trick.getUpdatedAt().format('d/m/Y') %}
				<div class="card-info">
					Mis à jour le
					{{ trick.getUpdatedAt().format('d/m/Y') }}
				</div>
			{% endif %}
			{% if trick.collection %}
				<div class="card-info">
					{{ trick.collection }}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-8 d-flex justify-content-center border-bottom py-4">
			{% if app.user %}
				{{ form_start(commentForm) }}
				<div class="form-floating mb-3">
					{{ form_widget(commentForm.message) }}
					{{ form_label(commentForm.message) }}
					{{ form_errors(commentForm.message) }}
				</div>
				<div class="d-grid">
					<button class="btn btn-primary" id="submitButton" type="submit">Laisser un commentaire</button>
				</div>
				{{ form_end(commentForm) }}
			{% else %}
				<p class="mb-0">
					<i>
						<b>
							Veuillez vous
							<a href="{{ path('app_login') }}">connecter</a>
							pour ajouter un commentaire.
						</b>
					</i>
				</p>
			{% endif %}
		</p>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-6">
		{% if comments.items %}
			{% for comment in comments %}
				{% set avatar = comment.user.avatar ?? 'https://dummyimage.com/50x50/ced4da/6c757d.jpg' %}
				<div class="comment border-bottom d-flex py-3">
					<div class="flex-shrink-0"><img class="rounded-circle" src="{{ avatar }}" alt=""/></div>
					<div class="w-100 mx-3">
						<div class="fw-bold">{{ comment.user.username }}</div>
						{{ comment.message }}
					</div>
					<div class="d-flex justify-content-end">
						{{ comment.getCreatedAt().format('d/m/Y') }}
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="w-100 text-center">
				<p class="my-4">
					<i>Pas encore de commentaires.</i>
				</p>
			</div>
		{% endif %}
	</div>
</div>
<div class="row mt-4">
	<div class="col-md-12 d-flex justify-content-center">
		{{ knp_pagination_render(comments) }}
	</div>
</div>{% endblock %}
