{% extends 'base.html.twig' %}

{% block title %}
	SnowTricks |
	{{ user.username }}
{% endblock %}

{% block javascripts %}
	<script src="/assets/js/user.js"></script>
{% endblock %}

{% block body %}
	<div class="row my-5">
		<div class="col-md-12 d-flex align-items-center">
			<div class="d-flex align-items-center">
				{% set avatar = user.avatar ? 'assets/img/users/' ~ user.avatar : 'https://dummyimage.com/50x50/ced4da/6c757d.jpg' %}
				<div class="flex-shrink-0 mr-3"><img class="rounded-circle" src="{{ avatar }}" alt="{{ user.username }} avatar"/></div>
				<h1 class="mb-0">Profil de
					{{ user.username }}</h1>
			</div>
			{% if app.user is same as user %}
				<a class="icon ml-3 mt-2" href="{{ path('app_user_edit', { 'username': user.username }) }}">
					<img src="/assets/img/icons/edit.svg" alt="edit">
				</a>
			{% endif %}
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-md-10 d-flex align-items-center user-menu">
			<div class="item active">
				<h2>Figures</h2>
			</div>
			<div class="item">
				<h2>Commentaires</h2>
			</div>
		</div>
	</div>
	<div class="row" id="tricks">
		{% if user.tricks.first() %}
			{% for trick in user.tricks %}
				<div class="col-5ths mb-5">
					<div class="card h-100 shadow border-0">
						{% set trickImage = trick.images.first() ? '/assets/img/tricks/' ~ trick.images.first().name : '/assets/img/snowtricks_banner.jpg' %}
						<img class="card-img-top" src="{{ trickImage }}" alt="Figure image"/>
						<div class="card-body d-flex align-items-center justify-content-between p-4">
							<a href="{{ path('app_trick', { 'slug': trick.slug }) }}">
								<h5 class="card-title mb-0">{{ trick.name }}</h5>
							</a>
							{% if app.user is same as user %}
								<div class="icons d-flex">
									<a class="icon text-decoration-none" href="{{ path('app_trick_edit', { 'slug': trick.slug }) }}">
										<img src="/assets/img/icons/edit.svg" alt="edit">
									</a>
									<div class="icon text-decoration-none" data-bs-toggle="modal" data-bs-target="#modal-delete-trick-{{ trick.slug }}">
										<img src="/assets/img/icons/delete.svg" alt="delete">
									</div>
								</div>
								<div class="modal fade" id="modal-delete-trick-{{ trick.slug }}" tabindex="-1" aria-labelledby="modal-delete-trick-label" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="modal-delete-trick-label">Suppression</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body text-center">
												<p>Êtes-vous certain de vouloir supprimer cette figure ?</p>
												<span>{{ trick.name }}</span>
											</div>
											<div class="modal-footer">
												<p class="btn btn-secondary" data-bs-dismiss="modal">Annuler</p>
												<a class="btn btn-danger text-decoration-none" href="{{ path('app_trick_delete', { 'slug': trick.slug }) }}">
													Supprimer
												</a>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="col-md-10">
				<i>
					{% if app.user is same as user %}
						Vous n'avez créé aucune figure.
					{% else %}
						Cet utilisateur n'a créé aucune figure.
					{% endif %}
				</i>
			</div>
		{% endif %}
	</div>
	<div class="row d-none" id="comments">
		<div class="col-md-12">
			{% if user.comments.first() %}
				{% for comment in user.comments %}
					{% set avatar = comment.user.avatar ?? 'https://dummyimage.com/50x50/ced4da/6c757d.jpg' %}
					<div class="comment border-bottom d-flex py-3">
						<div class="flex-shrink-0"><img class="rounded-circle" src="{{ avatar }}" alt=""/></div>
						<div class="w-100 mx-3">
							<p class="fw-bold mb-0">{{ comment.user.username }}</p>
							<p class="mb-0">{{ comment.message }}</p>
						</div>
						<div class="">
							<p class="mb-0">{{ comment.getCreatedAt().format('d/m/Y') }}</p>
							<a class="" href="{{ path('app_trick', { 'slug': comment.trick.slug }) }}">{{ comment.trick.name }}</a>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<i>
					{% if app.user is same as user %}
						Vous n'avez partagé aucun commentaire.
					{% else %}
						Cet utilisateur n'a partagé aucun commentaire.
					{% endif %}
				</i>
			{% endif %}
		</div>
	</div>
{% endblock %}
